@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

@section AdditionalStylesheets
{
    <link rel="stylesheet" href="~/css/template.css">
    <link rel="stylesheet" href="~/css/landing-page.css">
}

@section AdditionalScripts
{
    <script src="~/js/custom.js"></script>
    <script src="~/js/particles/particles.min.js"></script>
    <script src="~/js/particles/app.js"></script>
}

<header class="-with-video">
    <video autoplay muted loop id="-video-writing" class="-video">
        <source src="videos/writingLQ.mp4" type="video/mp4">
    </video>
    <div class="-video-curtain -transition-opacity bg-success"></div>
    <div class="container py-md-5">
        <div class="py-5 my-md-5 text-light">
            <h1 class="display-3 mb-4 text-light">Take a quiz!</h1>
            <p class="mb-4" style="font-size: 17px">Quizzario lets you create your own quizes which you can share with your friends and colleagues!<br />Test yourself and your buddies by solving and sharing public quizes <strong>today</strong>!</p>
            <button type="button" class="btn btn-outline-light btn-lg px-5 py-3" onclick="location.href='@Url.Action("Register", "Account")'">Join us today!</button>
        </div>
    </div>
</header>

<section class="py-md-5 -with-background">
    <div class="-background -notes-background -transition-opacity"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-center text-primary">Create a quiz in just 3 easy steps!</h2>
            </div>
        </div>
        <div class="row text-center py-5" id="-easy-steps">
            <div class="col-md-4">
                <h3 class="mb-4 text-secondary">Step 1.</h3>
                <p><i class="fa fa-plus -fa-xl text-primary mb-3"></i></p>
                <p class="lead">Create an empty quiz, title it and add description</p>
            </div>
            <div class="col-md-4">
                <h3 class="mb-4 text-secondary">Step 2.</h3>
                <p><i class="fa fa-question -fa-xl text-primary mb-3"></i></p>
                <p class="lead">Fill it with a questions and answers</p>
            </div>
            <div class="col-md-4">
                <h3 class="mb-4 text-secondary">Step 3.</h3>
                <p><i class="fa fa-share -fa-xl text-primary mb-3"></i></p>
                <p class="lead">That's it! Now you can share it with your friends!</p>
            </div>
        </div>
    </div>
</section>

<section class="py-md-5 -with-background">
    <div id="particles-js" class="bg-light" style="min-height: 100%; width: 100%; position: absolute; top: 0px;z-index: -2">
    </div>
    <div class="container">
        <div class="col-12 text-center py-3 py-md-5">
            <h2 class="display-2 text-primary mb-md-3">Don't wait! </h2>
            <button type="button" class="btn btn-primary btn-lg px-5 py-3 mr-2" onclick="location.href='@Url.Action("Register", "Account")'">Sign up!</button>
        </div>
    </div>
</section>