
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>
    404 Error
</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTPKHNfNMk_tA31b3wjbIi1JFC1W-xi0mk2zrYBVxpcAm4kJorJQ" />