@using Microsoft.AspNetCore.Identity
@using Quizzario.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-nav navbar-right flex-row">
        <span class="navbar-text mx-1 mx-md-0">Witaj @UserManager.GetUserName(User)!</span>
    </div>
}
else
{
    <div class="navbar-nav navbar-right flex-row">
        <a asp-controller="Account" asp-action="Login" class="nav-link">Sign in</a>
        <span class="navbar-text text-dark mx-1 mx-md-0">or</span>
        <a asp-controller="Account" asp-action="Register" class="nav-link">Sign up</a>
    </div>
}
