.-question-card {
	position: relative;
	
	/* For <md viewports */
	border: 2px dashed #f2f2f2;
}

.-question-card:hover {
	border-color: #e0e0e0;
}

.-question-card-active {
	border: 2px dashed #e0e0e0;
}

input {
	border: none;
	margin-bottom: 1px;
	box-sizing: border-box;
	resize: both;
}

input:hover {
	margin-bottom: 0px;
	border-bottom: 1px dashed #f0f0f0;
}

input:focus {
	margin-bottom: 0px;
	border-bottom: 1px dashed #b0b0b0;
	outline: none;
}