/** Navigation */
#-navigation {
	padding: 0;
	
	/* Making menu scrollable in smaller viewports */
	overflow: auto;
	max-height: 100%;
}

#-topmenu {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1031;
}

.-logo strong {
	font-size: 22px; 
	line-height: 1px;
	font-weight: 900;
}

.-logo:hover strong + span {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	#-navigation {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 1030;
	}
}
/** Content */
#-content-wrapper {
	padding-top: 70px;
	padding-right: 0px;
}

.-content-without-sidemenu {
	padding-left: 0px;
}

.-content-with-sidemenu {
	padding-left: 190px;
}
/** Footer */
#-footer {
	/* Making footer appear in front of sidemenu */
	position: relative;
	z-index: 1031;
}


/* Sidemenu */
#-sidemenu {
	width: 190px;
	position: fixed;
	top: 70px;
	z-index: 1030;
	height: 100%;
	
	box-shadow: -2px 0px 4px gray;
}

#-sidemenu-collapse-button {
	cursor: pointer;
}

.-sidemenu-collapsed {
	width: 50px !important;
}

.-content-sidemenu-collapsed {
	padding-left: 50px !important;
}

@media (min-width: 768px) {
	#-sidemenu-collapse {
		display: block;
	}
	
	#-sidemenu {
		align-items: flex-start;
	}
}

@media (max-width: 767.98px) {
	#-content-wrapper {
		padding-left: 0px !important;
		padding-top: 54px;
	}

	#-topmenu {
		position: static;
	}
	
	#-sidemenu {
		position: static;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.-sidemenu-hr-wrapper {
		display: none;
	}
}

/* Landing page */
.-fa-xl {
	font-size: 150px;
}

.-transition-opacity {
	transition: opacity 0.5s;
}

.-with-video {
	position: relative; 
	overflow: hidden;
}

.-video {
	width: 100%; 
	min-height: 100%;
	position: absolute; 
	z-index: -2
}

@media (max-width: 991.98px) {
	.-video {
		display: none;
	}
	
	.-video-curtain {
		opacity: 1;
	}
}

.-video-curtain {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	z-index: -1; 
	opacity: 0.8;
}

.-with-video:hover .-video-curtain {
	opacity: 0.87;
}

.-with-background {
	position: relative; 
	overflow: hidden;
}

.-notes-background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	background-image: url("../images/notes.jpg");
	opacity: 0.04;
	background-size: 80%;
}

.-with-background:hover .-background {
	opacity: 0.07;
}

#-easy-steps svg {
	transition: color 0.5s;
}

#-easy-steps {
	cursor: pointer;
}

#-easy-steps div:hover svg {
	color: #18BC9C !important;
}
