@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@section AdditionalStylesheets
{
    <link rel="stylesheet" href="~/css/login.css">
}

@section AdditionalScripts
{
    <script src="~/js/custom.js"></script>
}

<div class="container-fluid">
    <div class="-notes-background"></div>
    <div class="row my-md-3">
        <div class="col-12 text-center">
            <a asp-controller="Home" asp-action="Index" id="-logo" class="text-primary"><strong class="text-success">Q</strong><span>uizzario</span></a>
        </div>
    </div>
    <div class="row justify-content-center mt-md-4">
        <div class="col-xl-4 col-lg-6 col-md-8 bg-light border border-dark py-3 py-md-4 px-md-4 -border-2px">
            <button class="btn btn-block btn-info py-md-2">Login with Facebook</button>
            <button class="btn btn-block btn-danger py-md-2">Login with Google</button>
            <hr>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" class="needs-validation" novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" for="-login-form-email">E-mail</label>
                    <input asp-for="Email" type="text" class="form-control" id="-login-form-email" placeholder="E-mail" required>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" for="-login-form-password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="-login-form-password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                </div>

                <button class="btn btn-success btn-block py-md-2 mb-2" type="submit">Login</button>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" value="" id="-login-form-remember-me">
                        <label asp-for="RememberMe" class="form-check-label" for="-login-form-remember-me">
                            Remember me
                        </label>
                    </div>

                    @*<a class="float-right" href="#">Forgot password?</a>*@
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-2 mt-md-4 -border-2px">
        <div class="col-md-4 border border-light py-1 py-md-4 px-md-4 text-center">
            <p class="mb-0 lead">Don't have an account? <a asp-controller="Account" asp-action="Register">Sign up!</a></p>
        </div>
    </div>
</div>
