
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@section AdditionalStylesheets
{
    <link rel="stylesheet" href="~/css/login.css">
}

@section AdditionalScripts
{
    <script src="~/js/custom.js"></script>
}

<div class="container-fluid">
    <div class="row justify-content-center mt-md-4">
        <div class="col-xl-4 col-lg-6 col-md-8 bg-light border border-dark py-3 py-md-4 px-md-4 -border-2px">
            <button class="btn btn-block btn-info py-md-2">Register with Facebook</button>
            <button class="btn btn-block btn-danger py-md-2">Register with Google</button>
            <hr>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" class="needs-validation" id="-register-form" method="post" novalidate>
                <div class="form-group">
                    <label @*asp-for="Email"*@ for="-register-form-email">E-mail</label>
                    <input @*asp-for="Email"*@ type="text" class="form-control" id="-register-form-email" placeholder="E-mail" required>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                </div>
                <div class="form-group">
                    <label @*asp-for="Password"*@ for="-register-form-password">Password</label>
                    <input @*asp-for="Password"*@ type="password" class="form-control" id="-register-form-password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                </div>
                <div class="form-group">
                    <label @*asp-for="ConfirmPassword"*@ for="-register-form-confirm-password">Confirm password</label>
                    <input @*asp-for="ConfirmPassword"*@ type="password" class="form-control" id="-register-form-confirm-password" placeholder="Confirm password" required>
                    <div class="invalid-feedback">
                        Passwords must match.
                    </div>
                </div>

                <button class="btn btn-success btn-block py-md-2 mb-2" type="submit">Register</button>

            </form>
        </div>
    </div>
</div>
