@model SolvingQuizAnswerViewModel

<div class="form-check my-1 w-100">
    <input class="form-check-input" type="checkbox" name="answer" value="@Model.Number" id="checkbox-@Model.Number">
    <label class="form-check-label w-100" for="checkbox-@Model.Number">@Model.Answer</label>
</div>