@model CreateQuestionViewModel

<div class="py-2 px-3 mb-2 -question-card">
    <h6 class="d-inline">
        @Html.TextBoxFor(model => model.Question, new { @placeholder = "Type question here", @class = "-question-card-title font-weight-bold", @name = "QuestionField" })
        @Html.HiddenFor(model => model.NewAnswerRequested)
    </h6>
    <fieldset class="form-group pl-2 mb-1" id="quiz-question-@ViewBag.QuestionNumber">
        @Html.PartialAsync("AnswersPartialView", Model).Result
    </fieldset>
    <button type="button" class="-question-card-add-new-answer btn btn-sm btn-link px-3" name="AddAnswerButton" question-index="@ViewBag.QuestionNumber" onclick="addAnswer(this)">Add new answer...</button>
</div>
