@model Quizzario.BusinessLogic.DTOs.QuizDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Quiz/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{@if (Model != null)
    {<div>
            <form action="">

                <input name="Title" , value="@Model.Title">
                <input name="Description" , value="@Model.Description">
                <input name="QuizType" , value="@Model.QuizType">
            </form>
            <input type="submit" value="Save" />

        </div>
    }
@if (Model == null)
{
     <h4>Can not edit this quiz</h4>
}
}