@model SolvingQuizQuestionViewModel

@{
    ViewData["Title"] = "Solving quiz";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@section AdditionalStylesheets
    {
    <link rel="stylesheet" href="~/css/taking-quiz.css">
}

@section AdditionalScripts
    {
    <script src="~/js/custom.js"></script>
    <script src="~/js/solving-quiz.js"></script>
}

@{
    int totalNumberOfQuestions = (int)ViewData["TotalNumberOfQuestions"];
}

<div class="container-fluid">
    <div class="row justify-content-center mt-2 mt-xl-4">
        <div class="col-4 col-xl-2 px-2 px-xl-3">
            <div class="py-2 py-md-4 px-2 px-md-4 bg-light border border-dark -border-2px" id="-taking-quiz-left-panel">
                <div id="-taking-quiz-button-list">
                    @*<button class="btn btn-success">1</button>
                        <button class="btn btn-dark">10</button>
                        <button class="btn btn-outline-primary">14</button>*@
                    @for (int i = 1; i <= totalNumberOfQuestions; i++)
                    {
                        <button class="btn btn-outline-primary -taking-quiz-button -go-to-question" data-number="@i">@i</button>
                    }
                </div>
                <button class="btn btn-block btn-success mt-3">Submit</button>
            </div>
        </div>
        <div class="col-8 col-xl-6 px-2 px-xl-3">
            <div class="py-2 py-md-4 px-2 px-md-4 bg-light border border-dark -border-2px" id="-taking-quiz-right-panel">
                <div class="row">
                    <div class="col-12" id="-taking-quiz-right-panel-content">
                        @Html.PartialAsync("_SolvingQuizQuestionPartial", Model).Result
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="float-right">
                            <button class="btn btn-outline-primary py-md-2 mr-2 -go-to-question" id="-taking-quiz-previous-button">
                                <i class="fas fa-fw fa-arrow-left"></i>
                                <span class="ml-1">Previous</span>
                            </button>
                            <button class="btn btn-outline-primary py-md-2 -go-to-question" id="-taking-quiz-next-button">
                                <i class="fas fa-fw fa-arrow-right"></i>
                                <span class="ml-1">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
