@model Quizzario.Models.QuizViewModels.QuizListViewModel

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

@foreach (var quiz in Model.Quizes)
{
    @Html.Partial("QuizSummary", quiz);
}

<div class="pager">
    TagHelper.Pagination(Model.PagingInfo, x => Url.Action("List", new { category = Model.CurrentCategory, page = x }))
    <Pagination info="@Model.PagingInfo" route="/quizList"></Pagination>
</div>