@model Quizzario.Models.QuizViewModels.QuizListViewModel
@addTagHelper *, Quizzario.Extensions
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

@foreach (var quiz in Model.Quizes)
{
    @Html.Partial("QuizSummary", quiz);
}

<div class="pager">
    <!--TagHelper.Pagination(Model.PagingInfo, x => Url.Action("List", new { category = Model.CurrentCategory, page = x }))-->
    <pagination info="@Model.PagingInfo" route="/Quiz/List">x</pagination>
</div>